//font family
$font-family-primary:  'Roboto', sans-serif;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;

//colors//
$primary: #E1E1E1;
$secondary: #B5B5B5;
$black: #000000;
$white: #ffffff;
$grey: #988E8E;
$offwhite: #F9F9F9;
$lightred: #D8A9A9;
$darkblack: #252525;
$royalblue: #5E48E8;
$dark: #333030;

